future
emoji
lxml
wget
gtts
beautifulsoup4
requests==2.20.0
python-telegram-bot==13.6
sqlalchemy==1.3.20
psycopg2-binary
feedparser
faker
hachoir
pynewtonmath
aiofiles
asyncio
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans==4.0.0-rc1
google-trans-new==1.1.9
jikanpy
speedtest-cli
coffeehouse==2.2.4
regex
bleach
markdown2>=2.4.0
wikipedia
telethon==1.23.0
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
carbonnow
ujson
pretty_errors
pygithub
TgCrypto
Pyrogram==1.2.9
PyDictionary
youtube-dl==2021.6.6
youtube_search==2.1.0
lyrics_extractor
youtube_search_python==1.4.6
cloudscraper
dateparser==1.0.0
pymongo==3.12.0
dnspython
secureme
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
lyricsgenius
tswift
python-arq==6.0.3 
envparse
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
nekos.py
motor
gpytranslate
fontTools
opencv-python-headless
pyromod
fuzzysearch
ffmpeg
uvloop
multicolorcaptcha
odmantic
kontol

